@model WebApplication2.Models.BookClub

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookClub</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookClubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookClubName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LibraryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibraryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextMeeting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextMeeting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentRead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentRead)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookClubID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
