@model IEnumerable<WebApplication2.Models.BookClub>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookClubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibraryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextMeeting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentRead)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookClubName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibraryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextMeeting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentRead)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookClubID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookClubID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookClubID })
        </td>
    </tr>
}

</table>
