@model IEnumerable<WebApplication2.Models.Book>

@{
    ViewBag.Title = "ViewAllBooks";
}

<h2>ViewAllBooks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookISBN }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookISBN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookISBN })
        </td>
    </tr>
}

</table>
