@model WebApplication2.Models.BookList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookListName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookListName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookListType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookListType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookListContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookListContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookListID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
